/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*/
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 300;
  src: url("../../public/fonts/OpenSansHebrew-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  src: url("../../public/fonts/OpenSansHebrew-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 400;
  src: url("../../public/fonts/OpenSansHebrew-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/OpenSansHebrew-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 700;
  src: url("../../public/fonts/OpenSansHebrew-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/OpenSansHebrew-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 800;
  src: url("../../public/fonts/OpenSansHebrew-ExtraBoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  src: url("../../public/fonts/OpenSansHebrew-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: 'impacta_oebold';
  src: url("../../public/fonts/impacta_oebold.eot");
  src: url("../../public/fonts/impacta_oebold.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/impacta_oebold2.svg") format("woff"), url("../../public/fonts/impacta_oebold.svg#impacta_oebold") format("svg"); }
/************
MIXINS
************/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  overflow-y: scroll; }

body {
  direction: rtl;
  font-family: "Open Sans Hebrew";
  direction: rtl !important;
  language: 'he';
  overflow-x: hidden !important;
  font-size: 16px;
  background: white;
  padding-bottom: 500px; }

.cover {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 9998; }

.loader, .loader-visible {
  display: none;
  height: 120px;
  width: 120px;
  position: fixed;
  z-index: 9998 !important;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .loader-visible {
    display: block; }

a:hover, a:active {
  text-decoration: none !important; }

::selection {
  background: #53a1e6; }

::-moz-selection {
  background: #53a1e6; }

*:focus {
  outline: 0 !important; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px; } }
.text-center {
  text-align: center; }

.col-sm-6 {
  height: 100%; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.LazyLoad {
  height: 100%; }

.meme-thumb {
  height: 160px;
  width: 12.5%;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 767px) {
    .meme-thumb {
      width: 33.333333333333%;
      height: 100px; } }
  .meme-thumb:hover .meme-thumb__overlay {
    opacity: 1; }
  .meme-thumb .meme-thumb__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .meme-thumb .meme-thumb__overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    background: rgba(0, 0, 0, 0.3); }

.meme-gallery {
  display: flex;
  flex-wrap: wrap; }

.generator {
  position: fixed;
  height: 96%;
  width: 95%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  top: 10px;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  border-radius: 5px;
  -webkit-box-shadow: 4px 21px 51px -21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 21px 51px -21px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 21px 51px -21px rgba(0, 0, 0, 0.75);
  overflow: scroll;
  z-index: 9999; }
  @media only screen and (max-width: 767px) {
    .generator {
      border-radius: 0;
      top: 3px;
      height: 99%; } }
  .generator__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 4rem;
    color: darkgray;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .generator__close {
        position: fixed;
        top: 0;
        right: 0;
        color: #959595; } }
    .generator__close:hover {
      color: #909090; }
    .generator__close:active {
      color: #767676; }
  .generator__wrapper {
    margin: 0 auto;
    width: 80%;
    padding: 15px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    display: flex;
    direction: ltr; }
    @media only screen and (max-width: 767px) {
      .generator__wrapper {
        flex-direction: column;
        width: 95%;
        border: none;
        padding: 5px; } }
  @media only screen and (max-width: 767px) {
    .generator__title {
      display: none; } }
  @media only screen and (max-width: 767px) {
    .generator__utils .space-between {
      flex-direction: column; } }

@media only screen and (max-width: 767px) {
  .bottom_details {
    margin: 0 auto;
    max-width: 70%; } }
@media only screen and (max-width: 767px) {
  .bottom_details h4 {
    font-size: 16px;
    line-height: 1.3; } }
@media only screen and (max-width: 767px) {
  .bottom_details p {
    font-size: 11px; } }

.generator-uploader-wrapper {
  width: 49%; }
  .generator-uploader-wrapper span {
    font-weight: normal !important; }
  @media only screen and (max-width: 767px) {
    .generator-uploader-wrapper {
      width: 100%; } }

.utils_button, .remover {
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
  margin-top: 8px;
  background-color: #c25975;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 4px solid #aa3e5b;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  text-transform: capitalize; }
  @media only screen and (max-width: 767px) {
    .utils_button, .remover {
      width: 100% !important;
      margin-bottom: 0; } }
  .flex > .utils_button, .flex > .remover {
    flex-grow: 2; }
    .flex > .utils_button:first-child, .flex > .remover:first-child {
      margin-right: 10px; }
  .utils_button.format-changer span, .format-changer.remover span {
    width: auto !important; }
  .utils_button.download, .download.remover {
    background-color: #b1415f;
    border-color: #8c334b; }
  .utils_button:active, .remover:active {
    -webkit-box-shadow: inset 17px -14px 120px -55px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: inset 17px -14px 120px -55px rgba(0, 0, 0, 0.43);
    box-shadow: inset 17px -14px 120px -55px rgba(0, 0, 0, 0.43); }
  .utils_button:hover, .remover:hover {
    color: white;
    background-color: #bb4665;
    color: white;
    cursor: pointer; }
  .utils_button span:not(.glyphicon), .remover span:not(.glyphicon) {
    width: 120px; }
  .utils_button .glyphicon, .remover .glyphicon {
    margin-right: 20px; }

.text-control__btn {
  flex-grow: 1;
  border-right: 1px solid #645180;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d669e;
  color: white;
  cursor: pointer;
  marginb-ttom: 10px; }
  .text-control__btn.bold {
    font-weight: bold !important; }
  .text-control__btn.lite {
    font-weight: 100 !important; }
  .text-control__btn.black {
    color: black; }
  .text-control__btn:first-child {
    border-radius: 0 0 0 5px; }
  .text-control__btn:last-child {
    border-radius: 0 0 5px 0; }
  .text-control__btn:hover {
    background: #645180; }
  .text-control__btn:active {
    background: #4c3d61; }

textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 3px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  resize: none;
  text-align: right; }
  textarea.focus, textarea:focus, textarea:active {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
    outline: 0 !important; }

.items_area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #8d8d8d;
  margin-top: 7px;
  cursor: pointer; }
  .items_area .trash {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 30px;
    color: #c25975;
    margin: 10px 0 10px 0; }
    .items_area .trash span {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #c25975;
      width: 150px;
      padding: 5px; }
  .items_area .items_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
    .items_area .items_wrapper > div {
      width: 20%;
      height: 60px;
      transition: 0.7s;
      border: 1px solid transparent;
      overflow: hidden; }
      .items_area .items_wrapper > div:hover {
        border: 1px solid #8d8d8d; }
      .items_area .items_wrapper > div img {
        max-width: 100%; }

.resizer-wrapper {
  width: 47%; }
  @media only screen and (max-width: 767px) {
    .resizer-wrapper {
      width: 100%; } }

.top {
  height: 100vh;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 767px) {
    .top {
      height: auto;
      padding-bottom: 50px;
      padding-top: 40px; } }

.top img {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto; }
  @media only screen and (max-width: 767px) {
    .top img {
      max-width: 60px; } }
.top__main-title {
  color: #53a1e6;
  text-align: center;
  font-size: 5rem; }
  @media only screen and (max-width: 767px) {
    .top__main-title {
      font-size: 26px;
      margin-bottom: 50px; } }

.inputfile {
  float: none !important;
  width: 0.1px !important;
  height: 0.1px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  z-index: -1 !important;
  margin: 0 auto; }

.button--shadow, .upload_button, .clean-slate-btn {
  z-index: 4;
  width: 100%;
  height: 50px;
  line-height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white !important;
  font-size: 25px;
  font-weight: bold;
  border-radius: 2px;
  margin-bottom: 10px;
  background-color: #53a1e6;
  -webkit-box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 10px 44px -16px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  max-width: 350px;
  margin: 0 auto;
  transition: 0.8s;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .button--shadow, .upload_button, .clean-slate-btn {
      max-width: 70%;
      font-size: 16px;
      height: 40px; } }
  .button--shadow .glyphicon, .upload_button .glyphicon, .clean-slate-btn .glyphicon {
    margin-right: 10px;
    display: none; }
  .button--shadow:active, .upload_button:active, .clean-slate-btn:active {
    top: 3px; }
  .button--shadow:hover, .upload_button:hover, .clean-slate-btn:hover {
    background-color: #4197e3; }
  .button--shadow:focus, .upload_button:focus, .clean-slate-btn:focus {
    text-decoration: none !important; }

.back-to-top {
  position: fixed;
  right: 40px;
  bottom: 40px; }
  @media only screen and (max-width: 767px) {
    .back-to-top {
      right: 10px;
      bottom: 25px; } }
  .back-to-top__wrapper {
    cursor: pointer;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    -webkit-box-shadow: 4px 10px 42px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 10px 42px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 10px 42px -12px rgba(0, 0, 0, 0.75); }
    @media only screen and (max-width: 767px) {
      .back-to-top__wrapper {
        height: 30px;
        width: 30px;
        box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75); } }
    .back-to-top__wrapper span {
      color: #53a1e6; }

.clean-slate-btn {
  background: white;
  margin-top: 10px;
  color: #53a1e6 !important; }
  .clean-slate-btn:hover {
    background: #f7f7f7; }

.meme-section-title {
  text-align: center;
  color: #53a1e6;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 4rem;
  padding: 20px;
  margin-bottom: 30px; }
  .meme-section-title:hover {
    color: #2689e0; }
  @media only screen and (max-width: 767px) {
    .meme-section-title {
      font-size: 25px;
      padding: 15px; } }

.container {
  width: 100%;
  padding: 0  15px 0 15px;
  max-width: 1170px;
  margin: 0 auto; }

.flex {
  display: flex; }

.space-between {
  justify-content: space-between; }

.auto span {
  width: auto !important; }

.ripple-effect {
  background-color: #53a1e6;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  animation-name: ripple;
  animation-iteration-count: 1;
  animation-duration: 1.2s;
  transform: translateX(-50%) translateY(-50%); }

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 1; }
  to {
    width: 500px;
    height: 500px;
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
