.meme-section-title{
  text-align:center;
  color: $mainColor;
  text-transform: capitalize;
  cursor:pointer;
  font-size:4rem;
  padding: 20px;
  margin-bottom:30px;
  &:hover{
    color: darken($mainColor, 10%)
  }

  @include mobile-medium{
    font-size:25px;
    padding:15px;
  }

}