.top{


  img{
    max-width:150px;
    height: auto;
    display: block;
    margin : 0 auto;
    @include mobile-medium{
      max-width: 60px;
    }
  }

  &__main-title{
    color: $mainColor;
    text-align:center;
    font-size: 5rem;

    @include mobile-medium{
      font-size:26px;
      margin-bottom:50px;
    }
  }
}