.top{
  padding-top: 30px;
  min-height: 100vh;
  background : lighten(#d7d7d7, 12%);
  display:flex;
  flex-direction: column;
  justify-content: center;
  @include mobile-medium{
    min-height: initial;
    height: auto;
    padding-bottom:50px;
    padding-top: 40px;
    display:block;
  }

  .glyphicon-menu-down{
    color:$mainColor;
    font-size:60px;
    text-align:center;
    cursor:pointer;
    width: 100%;
    @include mobile-medium{
      display:none;
    }
  }
}